  <div id="top-banner">
    <h1>Welcome!</h1>
    <p>Sign in to start logging your gardens or feel free to browse our plant reference as a guest user.</p>
  </div>

  <div id="mid-banner">
  </div>

  <div id="bottom-banner">
  </div>
