/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 body, h2, h1{
  font-family: 'Open Sans', sans-serif;
 }

#top-banner{
  text-align: center;
  height: 20%;
  font-family: 'Sacramento', cursive;
  color: black;
}

#top-banner h1{
  margin-top: 45px;
  margin-bottom: 10px;
  font-family: 'Sacramento', cursive;
  font-size: 65px;
  color: black;
}
#top-banner p{
  font-family:'Open Sans', sans-serif;
}

#mid-banner{
  position: relative;
  background: url(https://s3-us-west-2.amazonaws.com/solgardenassets/IMG_1435.jpg) no-repeat center;
  background-size: cover;
  height: 60%;
  width: 100%;
}

#bottom-banner{
  height: 20%;
}

.my_gardens{
  padding-left: 10px;
  margin-top: 50px;
}

.garden_show h2{
  padding-left: 10px;
  margin-top: 50px;
  font-family: 'Open Sans', sans-serif;
}

.garden-each h4 a{
  color: black;
}

#devise-links a{
  color: black;
}

.open-modal-link {
  color: black;
}

#plant-link a{
  color: black;
}

.plants{
  padding-left: 10px;
  margin-top: 50px;
  font-family: 'Open Sans', sans-serif;
}

